---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div
  class="bg-primary purple-background flex min-h-8 w-fit items-center justify-center rounded-xl px-3"
>
  <p class="purple-background text-sm">{text}</p>
</div>
