---
interface Props {
	link: string
	class?: string
	primaryOrSecondary?: "primary" | "secondary"
}

const {link, class: className, primaryOrSecondary="primary"} = Astro.props
---

<a href={link} class:list={[
	{'btn-primary': primaryOrSecondary === "primary"},
	{'btn-secondary': primaryOrSecondary === "secondary"},
	className
]}>
	<slot/>
</a>