---
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
---

<section
  class="hero-background flex h-[60vh] w-full flex-col items-center justify-center gap-8"
>
  <TitleParagraph
    variant="h1"
    white
    centered
    title="A Creative, Communicative and Reliable dev"
    text="Help you deliver your needed websites/apps quickly, efficiently without compromising robustness"
  />
  <div class="flex flex-row justify-center gap-8">
    <a class="btn-primary">Hire Me</a>
    <a class="btn-secondary">Learn More</a>
  </div>
</section>
