---
import { Icon } from 'astro-icon/components';

interface Props {
  iconName: string;
  title: string;
  iconSize: number;
  text: string;
  type?: "flex-col" | "flex-row" | "flex-col-reverse";
  class?: string;
}

const { iconName, iconSize, title, text, type = 'flex-col', class: className } = Astro.props;
---

<div
  class:list={[
    "bg-accent text-card-foreground hover-transform border-muted flex gap-6 overflow-hidden rounded-xl border shadow-sm",
    className,
  ]}
>
  <div
    class:list={[
      "flex w-full items-start justify-between gap-2 p-6",
      type,
    ]}
  >
	<Icon
		name={iconName}
		size={iconSize}
		class="text-foreground"
	/>
    <div class="flex flex-col items-start gap-2">
      <h3 class="text-foreground">{title}</h3>
      <p>{text}</p>
    </div>
    <slot />
  </div>
</div>
