---
interface Props {
  class?: string;
  breakpoint?: "sm" | "md" | "xl" | "2xl" | "none";
}

const { class: className, breakpoint } = Astro.props;
---

<section
  class:list={[
    "flex min-h-60 w-full max-w-1000 flex-col gap-6",
    className,
    { "md:flex-row": breakpoint == "md" || !breakpoint },
    { "xl:flex-row": breakpoint == "xl" },
    { "2xl:flex-row": breakpoint == "2xl" },
    { "sm:flex-row": breakpoint == "sm" },
  ]}
>
  <slot />
</section>
