---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  class:list={[
    "flex min-h-60 w-full max-w-1000 flex-col gap-6 md:flex-row",
    className,
  ]}
>
  <slot />
</section>
