---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  class:list={[
    "flex min-h-60 w-full max-w-1000 flex-1 flex-col justify-center gap-8 md:gap-24 xl:flex-row xl:gap-8",
    className,
  ]}
>
  <slot />
</section>
