---
interface Props {
  imageSrc: string;
  imageAlt: string;
  title: string;
  text: string;
  type: "flex-col" | "flex-row";
  class?: string;
}

const { imageSrc, imageAlt, title, text, type, class: className } = Astro.props;
---

<div
  class:list={[
    "bg-accent text-card-foreground hover-transform border-muted flex flex-col-reverse gap-6 overflow-hidden rounded-xl border shadow-sm",
    className,
  ]}
>
  <img
    src={imageSrc}
    alt={imageAlt}
    class="relative aspect-video size-full h-full max-h-3/4 object-cover xl:max-h-100"
  />

  <div
    class:list={[
      "flex w-full items-start justify-between gap-2 px-6 pt-6",
      type,
    ]}
  >
    <div class="flex flex-col items-start gap-2">
      <h3>{title}</h3>
      <p>{text}</p>
    </div>
    <slot />
  </div>
</div>
