---
import { fade } from 'astro:transitions';

interface Props {
  title: string;
  text: string;
  variant?: "h1" | "h2" | "h3" | "h4";
  class?: string;
  link?: string;
  linkText?: string;
  white?: boolean;
  centered?: boolean;
}

const {
  title,
  text,
  white = false,
  linkText,
  link,
  variant = "h3",
  centered,
  class: className,
} = Astro.props;
const Tag = variant;
---

<div
  class:list={[
    "flex flex-col gap-2",
    className,
    { "items-center justify-center px-8 text-center": centered },
    { "items-start justify-start": !centered },
  ]}
>
  <Tag class:list={[{ "text-soft-white": white }, {"text-foreground" : !white}]}>{title}</Tag>
  <p class:list={[{ "text-soft-white": white }, {"text-foreground" : !white}]} set:html={text} />
  {
    link && linkText && (
      <a class="link-primary" href={link}>
        {linkText}
      </a>
    )
  }
</div>
