---
import Button from "@/components/shared/Button.astro";
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import { Image } from "astro:assets";
import InstagramScreenshot from "~/images/Bernardusz_Instagram.png";
---

<section
  class="section relative flex h-fit w-full flex-col items-center justify-center gap-16 text-center"
>
  <div class="flex h-[50vh] flex-col items-center justify-center gap-4">
    <TitleParagraph
      title="About Me - My Personal Life"
      variant="h1"
      centered
      text="This is all about me, the person <strong>behind the code</strong>"
    />
    <div class="flex w-full flex-row justify-center gap-8">
      <Button link="/services">Hire Me</Button>
      <Button primaryOrSecondary="secondary" link="/projects">Learn More</Button
      >
    </div>
  </div>
  <Image
    src={InstagramScreenshot}
    alt="Screenshot of GitHub"
    class="-mt-24 h-full rounded-xl"
    quality="max"
  />
</section>
