---
import Button from "@/components/shared/Button.astro";
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import { Image } from "astro:assets";
import InstagramScreenshot from "~/images/Bernardusz_Instagram.png";
---

<section
  class="section from-background via-primary to-background to hero-background relative flex h-fit w-full flex-col items-center justify-center gap-8 text-center"
>
  <div class="flex h-[50vh] flex-col items-center justify-center gap-4">
    <TitleParagraph
      title="About Me - My Personal Life"
      variant="h1"
      centered
      white
      text="This is all about me, the person behind the code: <strong>A student who dares dream high.</strong>"
    />
  </div>
  <Image
    src={InstagramScreenshot}
    alt="Screenshot of GitHub"
    class="-mt-24 h-full rounded-xl"
    quality="max"
  />
</section>
