---
import { Icon } from "astro-icon/components";
const currentPath = Astro.url.pathname;
---

<header
  class="fixed top-0 left-0 z-50 h-28 w-full rounded-xl bg-none px-4 py-3 md:h-20"
>
  <div
    class="border-muted bg-background relative flex h-full flex-col items-center justify-center rounded-2xl border px-8 md:flex-row"
  >
    <h4 class="hidden md:absolute md:left-8 md:flex">
      {
        currentPath.split("/")[1]
          ? currentPath.split("/")[1].slice(0, 1).toUpperCase() +
            currentPath.split("/")[1].slice(1)
          : "Bernardusz"
      }
    </h4>
    <button id="toggleMode" class="absolute right-4 md:right-8">
      <Icon name="tabler:sun" size={24} class="flex dark:hidden" />
      <Icon name="tabler:moon" size={24} class="hidden dark:flex" />
    </button>
    <nav
      class="grid grid-cols-3 items-center gap-2 md:absolute md:left-1/2 md:flex md:-translate-x-1/2 md:gap-6"
    >
      <a class="link-primary" href="/"> Home </a>
      <a class="link-primary" href="/about"> About</a>
      <a class="link-primary" href="/projects">Projects</a>
      <a class="link-primary" href="/achievements"> Achievments</a>
      <a class="link-primary" href="/services">Services</a>
      <a class="link-primary" href="/contact"> Contact</a>
    </nav>
  </div>
</header>

<script>
  const html = document.documentElement;
  const toggle = document.getElementById("toggleMode") as HTMLElement | null;

  function setDark() {
    html.classList.add("dark");
    localStorage.setItem("lightOrDark", "dark");
  }
  function setLight() {
    html.classList.remove("dark");
    localStorage.setItem("lightOrDark", "light");
  }

  function toggleMode() {
    if (html.classList.contains("dark")) {
      setLight();
    } else {
      setDark();
    }
  }
  toggle?.addEventListener("click", toggleMode);
</script>
