---
import CallToAction from "@/components/shared/CallToAction.astro";
import Layout from "../layouts/Layout.astro";
import AchievementsHero from "@/components/section/achievements/AchievementsHero.astro";
---

<Layout>
  <main class="page gap-0">
	<AchievementsHero />
	<CallToAction/>
  </main>
</Layout>
