---
import IndexHero from '@/components/section/index/IndexHero.astro';
import Layout from '../layouts/Layout.astro';
import BentoSkills from '@/components/section/index/BentoSkills.astro';
export const prerender = false
---

<Layout >
	<main class="page">
		<IndexHero/>
		<BentoSkills/>
	</main>
</Layout>
