---
import Layout from "@/layouts/Layout.astro";
import ProjectHero from "@/components/section/projects/ProjectHero.astro";
import AllProjects from "@/components/section/projects/AllProjects.astro";
---

<Layout>
  <main class="page">
    <ProjectHero />
    <AllProjects />
  </main>
</Layout>
