---
import ServicesHero from "@/components/section/services/ServicesHero.astro";
import CallToAction from "@/components/shared/CallToAction.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	  <main class="page gap-0">
		<ServicesHero/>
		<CallToAction noLearnMore/>
	</main>
</Layout>
