---
import AllProjects from "@/components/section/projects/AllProjects.astro";
import ProjectHero from "@/components/section/projects/ProjectHero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="page">
	<ProjectHero/>
	<AllProjects/>
  </main>
</Layout>
