---
import TitleSection from "@/components/shared/TitleSection.astro";
---

<TitleSection title="Who Am I?">
	<p>
		Hello, My name is Bernardus Christian Wibisono Nugroho, nicknamed Bernardusz. I'm a 10th Grader (10 TKJ 1) in Vocational Catholic High School St. Louis Surabaya
		I'm a passionate devs who is capable of programming in Frontend and am currently learning how to be a Backend developer and DevOps!
	</p>
</TitleSection>