---
import FlexSection from "@/components/shared/FlexSection.astro";
import TitleSection from "@/components/shared/TitleSection.astro";
import Card from "@/components/shared/Card.astro";
import projectData from "@/data/projects.json"
---

<TitleSection title="My Achievments" flexOrGrid="flex" breakpoint="2xl">
  {projectData.top.map(project => (
	<Card
		title="BROO"
		text="A project where i shocase [.......] and prove [.....]"
		iconName={project["icon-name"]}
		iconSize={36}
		type="flex-col"
		class="xl:max-w-1/4"
  	>
    	<a class="link-primary" href={`projects/${project.slug}`}>Learn More about me</a>
 	</Card>	
))}
</TitleSection>
