---
import Card from "@/components/shared/Card.astro";
import TitleSection from "@/components/shared/TitleSection.astro";


---

<TitleSection
title="My Skills"
  class="grid grid-cols-1 md:grid-cols-2 gap-4"
>
	<Card
		imageSrc="/images/React.jpg"
		imageAlt="An image of codes in React"
		title="Frontend Skills"
		text="See my capabilities in Frontend development"
		type="flex-col"
		class="row-span-2"
	>
	<a href="/projects" class="link-primary">Learn More</a>

</Card>
	<Card
		imageSrc="/images/Backend.jpg"
		imageAlt="An image of codes in backend"
		title="Backend Skills"
		text="See my abilities to develop a robust backend apps"
		type="flex-col"
	>
	<a href="/projects" class="link-primary">Learn More</a>
</Card>
	<Card
		imageSrc="/images/Idea.jpg"
		imageAlt="An image of a lamp symbolizing idea"
		title="Frontend Skills"
		text="See my proficient in communication and speaking"
		type="flex-col"
		class=""
	>
	<a href="/projects" class="link-primary">Learn More</a>
</Card>
</TitleSection>