---
import Button from "@/components/shared/Button.astro";
import Card from "@/components/shared/Card.astro";
import ReverseCard from "@/components/shared/ReverseCard.astro";
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import { Image } from "astro:assets";
import GitHubScreenshot from "../../../../public/images/Bernardusz.png";
---

<section
  class="section md:gap- relative flex h-fit w-full flex-col items-center justify-center gap-4 xl:gap-16"
>
  <div class="flex h-[50vh] flex-col items-center justify-center gap-4">
    <TitleParagraph
      title="Bernardusz - Frontend Developer"
      variant="h1"
      class="items-center justify-center text-center"
      text="Hi! I'm Bernardusz, a <strong>Frontend Developer</strong> and future Full Stack Software Engineer"
    />
    <div class="flex w-full flex-row justify-center gap-8">
      <Button link="/services">Hire Me</Button>
      <Button primaryOrSecondary="secondary" link="/projects">Learn More</Button
      >
    </div>
  </div>
  <Image
    src={GitHubScreenshot}
    alt="Screenshot of GitHub"
    class="-mt-24 aspect-video w-full rounded-xl"
    quality="max"
  />
</section>
