---
import Button from "@/components/shared/Button.astro";
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import { Image } from "astro:assets";
import GitHubScreenshot from "~/images/Bernardusz_GitHub.png";
---

<section
  class="section hero-background relative flex h-fit w-full flex-col items-center justify-center gap-16"
>
  <div class="flex h-[50vh] flex-col items-center justify-center gap-4">
    <TitleParagraph
      title="Bernardusz - Frontend Developer"
      variant="h1"
      centered
      white
      text="Hi! I'm Bernardusz, a <strong>Frontend Developer</strong> and future Full Stack Software Engineer"
    />
    <div class="flex w-full flex-row justify-center gap-8">
      <Button link="/services">Hire Me</Button>
      <Button primaryOrSecondary="secondary" link="/projects">Learn More</Button
      >
    </div>
  </div>
  <Image
    src={GitHubScreenshot}
    alt="Screenshot of GitHub"
    class="-mt-24 aspect-video w-full rounded-xl"
    quality="max"
  />
</section>
