---
import FlexSection from "@/components/shared/FlexSection.astro";
import ReverseCard from "@/components/shared/ReverseCard.astro";
import TitleSection from "@/components/shared/TitleSection.astro";
---

<TitleSection title="My Top Projects" flexOrGrid="flex">
  <ReverseCard
    title="BROO"
    text="A project where i shocase [.......] and prove [.....]"
    imageSrc="/images/Bernardusz_GitHub.png"
    imageAlt="an image"
    type="flex-col"
    class="md:max-w-1/3"
  >
    <a class="link-primary" href="/">Learn More about me</a>
  </ReverseCard>
  <ReverseCard
    title="BROO"
    text="BROOA project where i shocase [.......] and prove [.....]"
    imageSrc="/images/Bernardusz_GitHub.png"
    imageAlt="an image"
    class="md:max-w-1/3"
    type="flex-col"
  >
    <a class="link-primary" href="/">Learn More about me</a>
  </ReverseCard>
  <ReverseCard
    title="BROO"
    text="A project where i shocase [.......] and prove [.....]"
    imageSrc="/images/Bernardusz_GitHub.png"
    imageAlt="an image"
    type="flex-col"
    type="flex-col"
  >
    <a class="link-primary" href="/">Learn More about me</a>
  </ReverseCard>
</TitleSection>
