---
import projectData from "@/data/projects.json"
import TitleSection from "@/components/shared/TitleSection.astro";
import Card from "@/components/shared/Card.astro";
---
  <TitleSection title="My Top Projects" flexOrGrid="grid" breakpoint="xl">
{projectData["All Projects"].map(project => (
	<Card
		title={project.title}
		text={project.description}
		imageSrc={project.image}
        imageAlt={project.description}
        type="flex-col"
        class="2xl:max-w-1/4"
  	>
        <a href="#" class="link-primary text-left">Learn more</a>
	</Card>	
))}
</TitleSection>